django
django-cors-headers
djangorestframework
google-api-python-client
inflection
mysqlclient
mysql-connector-python
openpyxl
pylint-django # https://stackoverflow.com/a/58255140 # https://stackoverflow.com/a/68346742
utils