#nav-bar-wrapper {
    background-color: #6CA6CD;
}

#nav-bar-title {
    flex-grow: 0.1;
}

#create-app-button {
    font-size: 1rem;
}

#search-app-textfield {
    height: 55px;
    flex-grow: 0.75;
    margin-left: auto;
}

#display-dev-apps-button {
    margin-left: 200px;
}

#display-acc-apps-button {
    margin-left: 10px;
}

#open-profile-button {
    margin-left: 10px;
}

