#home-wrapper {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: #6CA6CD;
}

#create-app-modal {
    background-color: rgba(0, 0, 0, 0.4)
}

#modal-container {
    background-color: #6CA6CD;
    padding: 30px;
}

#modal-button {
    margin-left: 50px;
    color: #E1D9D1;
}

#home-display {
    flex: 1;
    overflow: auto;
    margin-top: 75px;
}

#grid {
    overflow: auto;
    padding: 2px;
}

#grid-item-container {
    height: 60px;
    border: 2px solid #87CEEB;
    text-align: center;
    position: relative;
}

#grid-item-button {
    position: absolute;
    top: 0;
    left: 0;
}


